$bright-pink: #f7567c;
$light-blue: #99e1d9;

$beige: #fffae3;

$form-height: 84px;
$font-size: $form-height / 3;

$box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
$box-shadow-higher: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
$box-shadow-lower: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
