.text--container {
  padding: 8% 8% 4%;
  @media screen and (max-width: 450px) {
    padding: 4%;
  }
}

h1 {
  font-size: 5.5em;
  color: $bright-pink;
  font-weight: 800;
  text-shadow: 4px 4px $light-blue;
  @media screen and (max-width: 1500px) {
    font-size: 3.8em;
  }
  @media screen and (max-width: 800px) {
    font-size: 3em;
  }
  @media screen and (max-width: 550px) {
    font-size: 2em;
  }
  span {
    &::before {
      content: 'ooooooo';
    }
    text-decoration: underline wavy;
  }
  @media screen and (max-width: 620px) {
    text-align: center;
    text-shadow: 2px 2px $light-blue;
    margin-top: 48px;
    span {
      &::before {
        content: 'oooo';
      }
    }
  }
}

h2 {
  font-size: 4em;
  font-weight: 700;
  color: $light-blue;
  margin-top: 24px;
  text-shadow: 4px 4px $bright-pink;
  @media screen and (max-width: 620px) {
    text-align: center;
  }
  @media screen and (max-width: 1500px) {
    font-size: 3em;
    margin-bottom: 48px;
  }
  @media screen and (max-width: 800px) {
    font-size: 2em;
    text-shadow: 2px 2px $bright-pink;
  }
  @media screen and (max-width: 550px) {
    font-size: 1.5em;
  }
}

.input-fields--container {
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  margin-bottom: 64px;
  .cooler-button {
    margin-left: 16px;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    margin-bottom: 48px;
    .cooler-button {
      margin: 16px auto 0;
      width: auto;
    }
    .copy-button {
      display: none;
    }
  }
}
